---
import "../styles/global.css";
import Topbar from "@components/Topbar.astro";
import Footer from "@components/Footer.astro";
const { title, downloadUrl=undefined, slug=undefined } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="A collection of moments, landscapes, and perspectives curated with a focus on symmetry and detail. No clutter—just the shot." />
    <script defer src="/who-downloads-photos.js" data-website-id="f3ad150e-4d71-45c8-a64e-8e70df72e986" data-domains="snaps.tusharyaar.com"></script>
  </head>
  <body>
    <Topbar downloadUrl={downloadUrl} slug={slug}/>
    <main class="container">
		<slot />
    </main>
	<Footer />
</body>
  </html>
