---
const today = new Date();
---

<footer class="site-footer">
  <div class="footer-content">
    <div class="copyright">
      &copy; {today.getFullYear()} Tushar Yaar
    </div>

    <div class="footer-socials">
      <a href="https://github.com/TusharYaar" target="_blank" rel="noopener">Github</a>
      <a href="https://www.instagram.com/tushar_yaar/" target="_blank" rel="noopener">Instagram</a>
    </div>
  </div>
</footer>