---
import Logo from "../../public/photo-logo.svg";
import Download from "../../public/download.svg";
const { active,  downloadUrl = undefined, slug = undefined } = Astro.props;
---

<nav class="topbar-container">
    <div class="topbar">

    <a class="topbar-icon" herf="/">
        <Logo class="topbar-icon-img" />
    </a>
    { downloadUrl && <div class="navbar">
        <a class="navbar-item active" href={downloadUrl} data-umami-event="download-photo" data-umami-event-slug={slug} download>
            Download
        </a>
    </div>
    }
</div>
</nav>